In [4]:
import pandas as pd
df = pd.read_csv("./../Dataset/GenresFullLabels.csv",delimiter=",").fillna("-NA-")
df.head()

                        Genre  imdbId   Feature1  Feature2
0  Animation|Adventure|Comedy  114709  Animation         0
1     Action|Adventure|Family  113497     Action         1
2              Comedy|Romance  113228     Comedy         2
3        Comedy|Drama|Romance  114885     Comedy         2
4       Comedy|Family|Romance  113041     Comedy         2

In [5]:
print df.shape

(39263, 4)

In [3]:
ff = df.loc[df['Feature1'].isin(["Comedy","Drama","Action","Documentary",
                             "Crime"])]
print ff.Genre.value_counts()

Drama          4205
Comedy         2408
Documentary    1559
Horror          715
Thriller        329
Name: Genre, dtype: int64

In [4]:
ff.to_csv("./../Dataset/Genre5.csv",index = False,encoding='utf-8')