Load the csv file into dataframe and display the top rows.

In [1]:
import pandas as pd
df = pd.read_csv("./../Dataset/GenresFullLabels.csv",delimiter=",").fillna("-NA-")
df.head()

                        Genre  imdbId   Feature1  Feature2
0  Animation|Adventure|Comedy  114709  Animation         0
1     Action|Adventure|Family  113497     Action         1
2              Comedy|Romance  113228     Comedy         2
3        Comedy|Drama|Romance  114885     Comedy         2
4       Comedy|Family|Romance  113041     Comedy         2

Dispaly all the columns present in the dataframe.

In [37]:
columns = list(df.columns.values)
print columns

['Genre', 'imdbId', 'Feature1', 'Feature2']

Count the number of unique genre and their counts present in the dataset. It is observed that Drama, Comedy and Action are the top 3 genres.

In [38]:
df.Feature1.value_counts()

Drama          9779
Comedy         9657
Action         4725
Documentary    3526
Crime          2546
Horror         1971
Adventure      1674
Animation      1624
Biography      1223
Thriller        397
Short           392
Western         315
Fantasy         272
Mystery         256
Family          243
Romance         203
Sci-Fi          192
Musical         115
War              65
Music            36
History          24
Film-Noir        16
Adult             7
Talk-Show         3
Sport             2
Name: Feature1, dtype: int64

There are 25 genre categories present in the dataset. Filter each Genre and store it. These will be used to prepare subset of dataset.

In [39]:
#Genre1
Drama = df.loc[df["Feature1"] == "Drama"]
print(Drama.shape)
Drama.head()

(9779, 4)

                    Genre  imdbId Feature1  Feature2
16          Drama|Romance  114388    Drama         6
23  Drama|Fantasy|Mystery  114168    Drama         6
24          Drama|Romance  113627    Drama         6
25          Drama|Romance  114057    Drama         6
27                  Drama  114117    Drama         6

In [40]:
#Genre2
Comedy = df.loc[df["Feature1"] == "Comedy"]
print(Comedy.shape)
Comedy.head()

(9657, 4)

                    Genre  imdbId Feature1  Feature2
2          Comedy|Romance  113228   Comedy         2
3    Comedy|Drama|Romance  114885   Comedy         2
4   Comedy|Family|Romance  113041   Comedy         2
6            Comedy|Drama  114319   Comedy         2
10   Comedy|Drama|Romance  112346   Comedy         2

In [41]:
#Genre3
Action = df.loc[df["Feature1"] == "Action"] 
print(Action.shape)
Action.head()

(4725, 4)

                        Genre  imdbId Feature1  Feature2
1     Action|Adventure|Family  113497   Action         1
5          Action|Crime|Drama  113277   Action         1
8       Action|Crime|Thriller  114576   Action         1
9   Action|Adventure|Thriller  113189   Action         1
14    Action|Adventure|Comedy  112760   Action         1

In [42]:
#Genre4
Documentary = df.loc[df["Feature1"] == "Documentary"]
print(Documentary.shape)
Documentary.head()

(3526, 4)

                             Genre  imdbId     Feature1  Feature2
76     Documentary|Biography|Music  113973  Documentary        11
97           Documentary|Biography  113283  Documentary        11
106                    Documentary  112646  Documentary        11
114      Documentary|Biography|War  112373  Documentary        11
126  Documentary|Biography|Mystery  110217  Documentary        11

In [43]:
#Genre5
Horror = df.loc[df["Feature1"] == "Horror"] 
print(Horror.shape)
Horror.head()

(1971, 4)

                       Genre  imdbId Feature1  Feature2
148                   Horror  112288   Horror        13
173  Horror|Mystery|Thriller  113690   Horror        13
179          Horror|Thriller  110604   Horror        13
326   Horror|Sci-Fi|Thriller  114852   Horror        13
391                   Horror  113043   Horror        13

In [44]:
#Genre6
Adventure = df.loc[df["Feature1"] == "Adventure"]
print(Adventure.shape)
Adventure.head()

(1674, 4)

                      Genre  imdbId   Feature1  Feature2
7    Adventure|Comedy|Drama  112302  Adventure         3
18   Adventure|Comedy|Crime  112281  Adventure         3
32        Adventure|Romance  114952  Adventure         3
36   Adventure|Drama|Family  112286  Adventure         3
55  Adventure|Comedy|Family  113541  Adventure         3

In [45]:
#Genre7
Animation = df.loc[df["Feature1"] == "Animation"]
print(Animation.shape)
Animation.head()

(1624, 4)

                          Genre  imdbId   Feature1  Feature2
0    Animation|Adventure|Comedy  114709  Animation         0
12    Animation|Adventure|Drama  112453  Animation         0
47    Animation|Adventure|Drama  114148  Animation         0
234  Animation|Adventure|Comedy  113198  Animation         0
239  Animation|Action|Adventure  113234  Animation         0

In [46]:
#Genre8
Biography  = df.loc[df["Feature1"] == "Biography"]
print(Biography.shape)
Biography.head()

(1223, 4)

                      Genre  imdbId   Feature1  Feature2
13  Biography|Drama|History  113987  Biography         4
30          Biography|Drama  112792  Biography         4
34  Biography|Drama|Romance  112637  Biography         4
42  Biography|Drama|History  114272  Biography         4
57   Biography|Comedy|Drama  110877  Biography         4

In [47]:
#Genre9
Thriller = df.loc[df["Feature1"] == "Thriller"]
print(Thriller.shape)
Thriller.head()

(397, 4)

                     Genre  imdbId  Feature1  Feature2
221               Thriller  112899  Thriller        14
548   Thriller|Crime|Drama  111488  Thriller        14
961               Thriller  117473  Thriller        14
1220              Thriller   82269  Thriller        14
1626              Thriller  130073  Thriller        14

In [48]:
#Genre10
Short = df.loc[df["Feature1"] == "Short"]
print(Short.shape)
Short.head()

(392, 4)

                       Genre  imdbId Feature1  Feature2
665     Short|Drama|Thriller  108181    Short        16
1680                   Short  133090    Short        16
3193      Short|Comedy|Drama    9018    Short        16
4336  Short|Adventure|Comedy  159423    Short        16
4732       Short|Documentary   84043    Short        16

In [49]:
#Genre11
Western = df.loc[df["Feature1"] == "Western"]
print(Western.shape)
Western.head()

(315, 4)

        Genre  imdbId Feature1  Feature2
755   Western  114122  Western        17
1142  Western  120121  Western        17
1160  Western   60196  Western        17
1167  Western   64116  Western        17
1337  Western   52287  Western        17

In [50]:
#Genre12
Fantasy = df.loc[df["Feature1"] == "Fantasy"]
print(Fantasy.shape)
Fantasy.head()

(272, 4)

                       Genre  imdbId Feature1  Feature2
28            Fantasy|Sci-Fi  112682  Fantasy         7
235  Fantasy|Horror|Thriller  113303  Fantasy         7
360   Fantasy|Horror|Mystery  111686  Fantasy         7
401   Fantasy|Horror|Mystery  113409  Fantasy         7
723           Fantasy|Horror  117894  Fantasy         7

In [51]:
#Genre13
Mystery = df.loc[df["Feature1"] == "Mystery"]
print(Mystery.shape)
Mystery.head()

(256, 4)

                        Genre  imdbId Feature1  Feature2
31    Mystery|Sci-Fi|Thriller  114746  Mystery         8
430  Mystery|Romance|Thriller  109456  Mystery         8
688     Mystery|Drama|Romance  115742  Mystery         8
873  Mystery|Romance|Thriller   52357  Mystery         8
874          Mystery|Thriller   47396  Mystery         8

In [52]:
#Genre14
Crime = df.loc[df["Feature1"] == "Crime"]
print(Crime.shape)
Crime.head()

(2546, 4)

                  Genre  imdbId Feature1  Feature2
15          Crime|Drama  112641    Crime         5
21  Crime|Drama|Mystery  112722    Crime         5
29  Crime|Drama|Romance  115012    Crime         5
35          Crime|Drama  112818    Crime         5
46  Crime|Drama|Mystery  114369    Crime         5

In [53]:
#Genre15
Family = df.loc[df["Feature1"] == "Family"]
print(Family.shape)
Family.head()

(243, 4)

                      Genre  imdbId Feature1  Feature2
142  Family|Adventure|Drama  112342   Family        12
272          Family|Fantasy  110527   Family        12
478        Family|Adventure  110305   Family        12
696        Family|Adventure  116322   Family        12
852           Family|Comedy  116311   Family        12

In [54]:
#Genre16
Romance = df.loc[df["Feature1"] == "Romance"]
print(Romance.shape)
Romance.head()

(203, 4)

                    Genre  imdbId Feature1  Feature2
73          Romance|Drama  115644  Romance         9
410       Romance|Western  109198  Romance         9
470  Romance|Comedy|Drama  110137  Romance         9
675         Romance|Drama  111613  Romance         9
757        Romance|Comedy  118523  Romance         9

In [55]:
#Genre17
Sci_Fi = df.loc[df["Feature1"] == "Sci-Fi"]
print(Sci_Fi.shape)
Sci_Fi.head()

(192, 4)

                Genre  imdbId Feature1  Feature2
75    Sci-Fi|Thriller  114367   Sci-Fi        10
535   Sci-Fi|Thriller   83658   Sci-Fi        10
729   Sci-Fi|Thriller  115571   Sci-Fi        10
1636           Sci-Fi  128755   Sci-Fi        10
2297           Sci-Fi   88933   Sci-Fi        10

In [56]:
#Genre18
Musical = df.loc[df["Feature1"] == "Musical"]
print(Musical.shape)
Musical.head()

(115, 4)

                      Genre  imdbId Feature1  Feature2
647                 Musical  112509  Musical        15
1331        Musical|Romance   77631  Musical        15
2829    Musical|Romance|War   52225  Musical        15
4070        Musical|Romance  113026  Musical        15
4651  Musical|Comedy|Sci-Fi  243759  Musical        15

Create a subset of dataset by selecting few genre categories based on requirement. For example if you want to generate a subset of balanced dataset where each genre has number of movie posters equal to maxcount. All the selected genre categories are concatenated together and then shuffled randomly.

In [58]:
topGenre = ["Drama","Comedy","Action","Documentary","Crime","Horror","Adventure","Animation"]
maxCount = 1600
topGenreMovies = pd.concat([Drama[:maxCount], Comedy[:maxCount],Action[:maxCount],Documentary[:maxCount], Crime[:maxCount],Horror[:maxCount],Adventure[:maxCount], Animation[:maxCount]], ignore_index=True)
import numpy as np
topGenreMovies = topGenreMovies.reindex(np.random.permutation(topGenreMovies.index))
topGenreMovies = topGenreMovies.reset_index(drop=True)
print topGenreMovies.shape
topGenreMovies.head()

(12800, 4)

                 Genre  imdbId Feature1  Feature2
0        Drama|Romance   84434    Drama         6
1     Action|Drama|War   34742   Action         1
2                Drama  105660    Drama         6
3  Crime|Drama|Romance   64816    Crime         5
4       Horror|Mystery   92676   Horror        13

In [25]:
import numpy as np
def getfeatures():
    temp = topGenreMovies.Feature1.unique()
    features ={x:i for i,x in enumerate(temp)}
    return features

def generateLabel(item):
    features = getfeatures()
    return features[item[0]]

Reassign the genre labels to each genre present in the dataset.

In [26]:
#del topGenreMovies.Feature2
features = getfeatures()
print features
print len(features)
topGenreMovies['Feature2'] = topGenreMovies.iloc[:,2:3].apply(generateLabel, axis=1)
topGenreMovies.head()

{'Horror': 1, 'Crime': 2, 'Drama': 6, 'Animation': 0, 'Adventure': 4, 'Action': 5, 'Comedy': 7, 'Documentary': 3}
8

                        Genre   imdbId     Feature1  Feature2
0  Animation|Adventure|Family  1679681    Animation         0
1                Horror|Drama   195165       Horror         1
2        Crime|Drama|Thriller   106856        Crime         2
3       Documentary|Biography   473434  Documentary         3
4         Adventure|Drama|War    47376    Adventure         4

Save the dataframe in the csv file.

In [52]:
topGenreMovies.to_csv("./../Dataset/BalancedTop8FullGenre.csv",index = False,encoding='utf-8')

In [27]:
top3Genre = ["Drama","Comedy","Action"]
maxCount = 4600
top3GenreMovies = pd.concat([Drama[:maxCount], Comedy[:maxCount],Action[:maxCount]], ignore_index=True)
import numpy as np
top3GenreMovies = top3GenreMovies.reindex(np.random.permutation(top3GenreMovies.index))
top3GenreMovies = top3GenreMovies.reset_index(drop=True)
print top3GenreMovies.shape
top3GenreMovies.head()

(13800, 4)

                  Genre   imdbId Feature1  Feature2
0     Drama|History|War    62673    Drama         6
1    Action|Crime|Drama  1071880   Action         1
2         Action|Sci-Fi   102800   Action         1
3                Comedy    54615   Comedy         2
4  Action|Comedy|Sci-Fi  3864024   Action         1

In [29]:
columns = list(top3GenreMovies.columns.values)
print columns

['Genre', 'imdbId', 'Feature1', 'Feature2']

In [31]:
import numpy as np
def getfeatures():
    temp = top3GenreMovies.Feature1.unique()
    features ={x:i for i,x in enumerate(temp)}
    return features

def generateLabel(item):
    features = getfeatures()
    return features[item[0]]

In [32]:
#del topGenreMovies.Feature2
features = getfeatures()
print features
print len(features)
top3GenreMovies['Feature2'] = top3GenreMovies.iloc[:,2:3].apply(generateLabel, axis=1)
top3GenreMovies.head()

{'Action': 0, 'Drama': 1, 'Comedy': 2}
3

                    Genre   imdbId Feature1  Feature2
0  Action|Adventure|Drama    35153   Action         0
1                   Drama  1630036    Drama         1
2          Comedy|Romance  1195478   Comedy         2
3     Comedy|Action|Crime    79966   Comedy         2
4           Drama|History  1029364    Drama         1

In [35]:
top3GenreMovies.to_csv("./../Dataset/BalancedTop3FullGenre.csv",index = False,encoding='utf-8')