In [1]:
import pandas as pd
df = pd.read_csv("./../Dataset/GenreFull.csv",delimiter=",").fillna("-NA-")
df.head()

                        Genre  imdbId
0  Animation|Adventure|Comedy  114709
1     Action|Adventure|Family  113497
2              Comedy|Romance  113228
3        Comedy|Drama|Romance  114885
4       Comedy|Family|Romance  113041

In [2]:
columns = list(df.columns.values)
print columns

['Genre', 'imdbId']

In [3]:
ff = df.loc[df['Genre'].isin(["Comedy","Drama","Documentary","Horror",
                             "Thriller"])]
print ff.Genre.value_counts()

Drama          4205
Comedy         2408
Documentary    1559
Horror          715
Thriller        329
Name: Genre, dtype: int64

In [4]:
ff.to_csv("./../Dataset/Genre5.csv",index = False,encoding='utf-8')