Load the csv file into dataframe and display the top rows.

In [22]:
import pandas as pd
df = pd.read_csv("./../Dataset/SingleGenres.csv",delimiter=",").fillna("-NA-")
df.head()

    Genre  imdbId  Feature1
0  Comedy  113101         0
1   Drama  114117         1
2   Drama  110299         1
3  Comedy  115683         0
4   Drama  114753         1

Dispaly all the columns present in the dataframe.

In [2]:
columns = list(df.columns.values)
print columns

['Genre', 'imdbId', 'Feature1']

Count the number of unique genre and their counts present in the dataset. It is observed that Drama, Comedy and Documentary are the top 3 genres.

In [3]:
df.Genre.value_counts()

Drama          4205
Comedy         2408
Documentary    1559
Horror          715
Thriller        329
Western         292
Action          131
Sci-Fi           91
Short            85
Family           59
Adventure        51
Crime            45
Romance          45
Mystery          44
Musical          38
Fantasy          27
Animation        23
Music            17
Biography        14
War              12
Name: Genre, dtype: int64

There are 25 genre categories present in the dataset. Filter each Genre and store it. These will be used to prepare subset of dataset.

In [4]:
#Genre1
Drama = df.loc[df["Genre"] == "Drama"]
print(Drama.shape)
Drama.head()

(4205, 3)

   Genre  imdbId  Feature1
1  Drama  114117         1
2  Drama  110299         1
4  Drama  114753         1
7  Drama  113490         1
9  Drama  115907         1

In [5]:
#Genre2
Comedy = df.loc[df["Genre"] == "Comedy"]
print(Comedy.shape)
Comedy.head()

(2408, 3)

    Genre  imdbId  Feature1
0  Comedy  113101         0
3  Comedy  115683         0
5  Comedy  113149         0
6  Comedy  115697         0
8  Comedy  113403         0

In [6]:
#Genre3
Documentary = df.loc[df["Genre"] == "Documentary"] 
print(Documentary.shape)
Documentary.head()

(1559, 3)

          Genre  imdbId  Feature1
11  Documentary  112646         2
19  Documentary  114500         2
34  Documentary  114805         2
56  Documentary  113104         2
58  Documentary  109339         2

In [7]:
#Genre4
Horror = df.loc[df["Genre"] == "Horror"]
print(Horror.shape)
Horror.head()

(715, 3)

      Genre  imdbId  Feature1
24   Horror  112288         3
55   Horror  113043         3
71   Horror  104029         3
81   Horror  112625         3
140  Horror   63350         3

In [8]:
#Genre5
Thriller = df.loc[df["Genre"] == "Thriller"] 
print(Thriller.shape)
Thriller.head()

(329, 3)

        Genre  imdbId  Feature1
39   Thriller  112899         4
142  Thriller  117473         4
187  Thriller   82269         4
264  Thriller  130073         4
266  Thriller  120222         4

In [9]:
#Genre6
Western = df.loc[df["Genre"] == "Western"]
print(Western.shape)
Western.head()

(292, 3)

       Genre  imdbId  Feature1
110  Western  114122         6
180  Western  120121         6
185  Western   60196         6
186  Western   64116         6
212  Western   52287         6

In [10]:
#Genre7
Action = df.loc[df["Genre"] == "Action"]
print(Action.shape)
Action.head()

(131, 3)

       Genre  imdbId  Feature1
210   Action  103776        10
426   Action  103617        10
1159  Action   79227        10
1391  Action   68815        10
1413  Action   77559        10

In [11]:
#Genre8
Sci_Fi  = df.loc[df["Genre"] == "Sci-Fi"]
print(Sci_Fi.shape)
temp = Sci_Fi[:5]
temp.head()

(91, 3)

      Genre  imdbId  Feature1
268  Sci-Fi  128755        11
367  Sci-Fi   88933        11
389  Sci-Fi  127302        11
405  Sci-Fi  120554        11
529  Sci-Fi   46907        11

In [12]:
#Genre9
Short = df.loc[df["Genre"] == "Short"]
print(Short.shape)
Short.head()

(85, 3)

      Genre  imdbId  Feature1
275   Short  133090        12
1247  Short   52100        12
1899  Short   36154        12
2996  Short  420181        12
3008  Short  376821        12

In [13]:
#Genre10
Family = df.loc[df["Genre"] == "Family"]
print(Family.shape)
Family.head()

(59, 3)

       Genre   imdbId  Feature1
3110  Family   841017        18
3691  Family   405615        18
4111  Family   288263        18
4439  Family   903831        18
5472  Family  1206486        18

Create a subset of dataset by selecting few genre categories based on requirement. For example if you want to generate a subset of balanced dataset where each genre has number of movie posters equal to maxcount. All the selected genre categories are concatenated together and then shuffled randomly.

In [14]:
top3Genre = ["Drama","Comedy","Documentary"]
maxCount = 1500
top3GenreMovies = pd.concat([Drama[:maxCount], Comedy[:maxCount],Documentary[:maxCount]], ignore_index=True)
import numpy as np
top3GenreMovies = top3GenreMovies.reindex(np.random.permutation(top3GenreMovies.index))
top3GenreMovies = top3GenreMovies.reset_index(drop=True)
print top3GenreMovies.shape
top3GenreMovies.head()

(4500, 3)

         Genre   imdbId  Feature1
0  Documentary  1764657         2
1  Documentary  3510820         2
2        Drama   146879         1
3        Drama   780492         1
4        Drama   119007         1

In [15]:
import numpy as np
def getfeatures():
    temp = top3GenreMovies.Genre.unique()
    features ={x:i for i,x in enumerate(temp)}
    return features

def generateLabel(item):
    features = getfeatures()
    return features[item[0]]

Reassign the genre labels to each genre present in the dataset.

In [16]:
#del topGenreMovies.Feature2
features = getfeatures()
print features
print len(features)
top3GenreMovies['Feature1'] = top3GenreMovies.iloc[:,0:1].apply(generateLabel, axis=1)
print top3GenreMovies.shape
top3GenreMovies.head()

{'Drama': 1, 'Comedy': 2, 'Documentary': 0}
3
(4500, 3)

         Genre   imdbId  Feature1
0  Documentary  1764657         0
1  Documentary  3510820         0
2        Drama   146879         1
3        Drama   780492         1
4        Drama   119007         1

Save the dataframe in the csv file.

In [17]:
top3GenreMovies.to_csv("./../Dataset/BalancedGenre3.csv",index = False,encoding='utf-8')

In [29]:
#Considering top 4
top4Genre = ["Drama","Comedy","Documentary","Horror"]
maxCount = 700
top4GenreMovies = pd.concat([Drama[:maxCount], Comedy[:maxCount],Documentary[:maxCount],Horror[:maxCount]], ignore_index=True)
import numpy as np
top4GenreMovies = top4GenreMovies.reindex(np.random.permutation(top4GenreMovies.index))
top4GenreMovies = top4GenreMovies.reset_index(drop=True)
print top4GenreMovies.shape
top4GenreMovies.head()

(2800, 3)

         Genre   imdbId  Feature1
0  Documentary   447016         2
1       Horror  1297945         3
2  Documentary   847817         2
3       Horror  2415464         3
4        Drama    79638         1

In [30]:
import numpy as np
def getfeatures():
    temp = top4GenreMovies.Genre.unique()
    features ={x:i for i,x in enumerate(temp)}
    return features

def generateLabel(item):
    features = getfeatures()
    return features[item[0]]

In [32]:
#del topGenreMovies.Feature2
features = getfeatures()
print features
print len(features)
top4GenreMovies['Feature1'] = top4GenreMovies.iloc[:,0:1].apply(generateLabel, axis=1)
print top4GenreMovies.shape
top4GenreMovies.head()

{'Drama': 2, 'Horror': 1, 'Comedy': 3, 'Documentary': 0}
4
(2800, 3)

         Genre   imdbId  Feature1
0  Documentary   447016         0
1       Horror  1297945         1
2  Documentary   847817         0
3       Horror  2415464         1
4        Drama    79638         2

In [28]:
top4GenreMovies.to_csv("./../Dataset/BalancedGenre4.csv",index = False,encoding='utf-8')