In [1]:
import pandas as pd
df = pd.read_csv("./../Dataset/GenreFull.csv",delimiter=",").fillna("-NA-")
df.head()

                        Genre  imdbId
0  Animation|Adventure|Comedy  114709
1     Action|Adventure|Family  113497
2              Comedy|Romance  113228
3        Comedy|Drama|Romance  114885
4       Comedy|Family|Romance  113041

In [3]:
print df.Genre.astype('category').value_counts()
genres = df.groupby('imdbId').agg(lambda x: x.tolist())
genres.head()

Drama                         4205
Comedy                        2408
Documentary                   1559
Comedy|Drama                  1474
Drama|Romance                 1448
Comedy|Drama|Romance          1130
Comedy|Romance                1002
Horror                         715
Action|Crime|Drama             558
Crime|Drama                    529
Drama|Thriller                 509
Crime|Drama|Thriller           505
Horror|Thriller                487
Crime|Drama|Mystery            342
Thriller                       329
Drama|War                      321
Western                        292
Comedy|Crime|Drama             289
Action|Comedy|Crime            275
Biography|Drama                269
Action|Adventure|Drama         264
Action|Crime|Thriller          256
Comedy|Crime                   247
Horror|Mystery|Thriller        245
Action|Adventure|Comedy        245
Biography|Drama|History        243
Documentary|Music              242
Crime|Drama|Film-Noir          241
Animation|Adventure|Comedy     236
Animation|Action|Adventure     201
                              ...
Animation|Drama|Mystery          1
Animation|Musical|Short          1
Drama|War|Comedy                 1
Drama|War|Adventure              1
Drama|Thriller|Comedy            1
Animation|Drama|War              1
Drama|Sport|Western              1
Drama|Sport|War                  1
Drama|Sport|Thriller             1
Drama|Short|Fantasy              1
Drama|Sci-Fi|Sport               1
Drama|Sci-Fi|Romance             1
Drama|Sci-Fi|Horror              1
Animation|Family|Sci-Fi          1
Drama|Sci-Fi|Crime               1
Animation|Family|Western         1
Animation|Fantasy|Family         1
Drama|Romance|Fantasy            1
Animation|Fantasy|Music          1
Animation|Fantasy|Musical        1
Drama|Romance|Family             1
Drama|Romance|Crime              1
Animation|History                1
Animation|History|Horror         1
Drama|Romance|Adventure          1
Animation|Horror|Music           1
Drama|Mystery|News               1
Drama|Mystery|Music              1
Drama|Mystery|Crime              1
Western|Sci-Fi|Thriller          1
Name: Genre, dtype: int64

                           Genre
imdbId
3       [Animation|Comedy|Short]
5                        [Short]
8            [Documentary|Short]
12           [Documentary|Short]
14                [Comedy|Short]

In [4]:
def genreFilter1(item):
    if "|" in item[0]:
        return str(item[0]).split("|")[0]
    else:
        return item[0]

In [5]:
def genreFilter2(item):
    if "|" in item[0]:
        genres = str(item[0]).split("|")
        genre = genres[0]
        if "Drama" in genres:
            genre = "Drama"
        if "Comedy" in genres:
            genre = "Comedy"
        if "Romance" in genres:
            genre = "Romance"
        if "Action" in genres:
            genre = "Action"
        if "Horror" in genres:
            genre = "Horror"
        return genre 
            
    else:
        return item[0]

In [6]:
columns = list(df.columns.values)
print columns

['Genre', 'imdbId']

In [7]:
import numpy as np
temp = df.Genre.unique()
print(np.array(temp).shape)
totalFeature ={x:i for i,x in enumerate(temp)}
#print totalFeature

(1293,)

In [20]:
df['Feature1'] = df.iloc[:,0:1].apply(genreFilter1, axis=1)
df.head()

                        Genre  imdbId   Feature1
0  Animation|Adventure|Comedy  114709  Animation
1     Action|Adventure|Family  113497     Action
2              Comedy|Romance  113228     Comedy
3        Comedy|Drama|Romance  114885     Comedy
4       Comedy|Family|Romance  113041     Comedy

In [21]:
df.Feature1.value_counts()

Drama          9779
Comedy         9657
Action         4725
Documentary    3526
Crime          2546
Horror         1971
Adventure      1674
Animation      1624
Biography      1223
Thriller        397
Short           392
Western         315
Fantasy         272
Mystery         256
Family          243
Romance         203
Sci-Fi          192
Musical         115
War              65
Music            36
History          24
Film-Noir        16
Adult             7
Talk-Show         3
Sport             2
Name: Feature1, dtype: int64

In [8]:
import numpy as np
def getfeatures():
    temp = df.Feature1.unique()
    features ={x:i for i,x in enumerate(temp)}
    return features

In [15]:
features = getfeatures()
print features
print len(features)

{'Sci-Fi': 10, 'Crime': 5, 'Romance': 9, 'Animation': 0, 'Music': 20, 'Adult': 23, 'Comedy': 2, 'War': 19, 'Horror': 13, 'Film-Noir': 18, 'Adventure': 3, 'Thriller': 14, 'Western': 17, 'Mystery': 8, 'Short': 16, 'Talk-Show': 21, 'Drama': 6, 'Action': 1, 'Documentary': 11, 'Musical': 15, 'History': 22, 'Family': 12, 'Fantasy': 7, 'Sport': 24, 'Biography': 4}
25

In [17]:
def generateLabel(item):
    features = getfeatures()
    return features[item[0]]

In [22]:
df['Feature2'] = df.iloc[:,2:3].apply(generateLabel, axis=1)
df.head()

                        Genre  imdbId   Feature1  Feature2
0  Animation|Adventure|Comedy  114709  Animation         0
1     Action|Adventure|Family  113497     Action         1
2              Comedy|Romance  113228     Comedy         2
3        Comedy|Drama|Romance  114885     Comedy         2
4       Comedy|Family|Romance  113041     Comedy         2

In [40]:
df['Feature2'] = df.iloc[:,0:1].apply(genreFilter2, axis=1)
df.head()

                        Genre  imdbId   Feature1  Feature3 Feature2
0  Animation|Adventure|Comedy  114709  Animation         3   Comedy
1     Action|Adventure|Family  113497     Action        16   Action
2              Comedy|Romance  113228     Comedy         5  Romance
3        Comedy|Drama|Romance  114885     Comedy         5  Romance
4       Comedy|Family|Romance  113041     Comedy         5  Romance

In [41]:
df.Feature2.value_counts()

Drama          2135
Comedy         2092
Romance        1715
Action         1487
Horror          883
Documentary     390
Adventure       101
Crime            85
Animation        82
Mystery          43
Sci-Fi           19
Thriller         19
Family           19
Western          18
Short             9
Fantasy           6
Film-Noir         4
Biography         3
Musical           3
War               2
Music             1
Name: Feature2, dtype: int64

In [11]:
columns = list(df.columns.values)
print columns

['Genre', 'imdbId', 'Feature1']

In [44]:
df['Feature4'] = df.iloc[:,4:5].apply(generateLabel, axis=1)
df.head()

                        Genre  imdbId   Feature1  Feature3 Feature2  Feature4
0  Animation|Adventure|Comedy  114709  Animation         3   Comedy         5
1     Action|Adventure|Family  113497     Action        16   Action        16
2              Comedy|Romance  113228     Comedy         5  Romance         2
3        Comedy|Drama|Romance  114885     Comedy         5  Romance         2
4       Comedy|Family|Romance  113041     Comedy         5  Romance         2

In [92]:
df.to_csv("./../Dataset/Genres10Labels.csv",index = False,encoding='utf-8')